extends layout

block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-blue
                h1 Publicações
            .w3-container
                h3 Procurar por id
                .w3-container
                    table
                        tr
                            td(style='width:20%')
                                input#fileID.w3-input.w3-border(placeholder='ID da publicação')
                            td
                                button#fid.w3-button.w3-blue( style='margin-left:25px;') Procurar publicação 
 
                        tr
                            td(style='width:20%')
                                input#fileData.w3-input.w3-border(placeholder='Data mínima: yyyy-mm-dd')
                            td
                                button#fdata.w3-button.w3-blue( style='margin-left:25px;') Procurar publicação
                    each p in pubs
                        .w3-container
                            .w3-card-4
                                header.w3-container.w3-blue
                                    h1=p.utilizador.nome
                                .w3-container
                                    if p.tituloPub
                                        h2=p.tituloPub
                                    h4="Publicado em " + p.data
                                    if p.local
                                        h4="Local: " + p.local
                                    h5="Público: " + p.publico
                                    each e in p.elems
                                        h4="TIPO: "+ e.tipo
                                        if e.tipo == "lista"
                                            p= e.lista.titulo
                                            ul.w3-ul.w3-hoverable
                                            each item in e.lista.itens
                                                li=item
                                        if e.tipo == "ficheiros"
                                            p= e.ficheiros.titulo
                                            each item in e.ficheiros.ficheiros
                                                a(href='/' + p.utilizador + '/'+item)= item
                                        if e.tipo =="narracao"
                                            h2 Narração!
                                            if e.narracao.titulo
                                                p(style="text-align: center;")= e.narracao.titulo
                                            cite= e.narracao.texto
                                            if e.narracao.autor
                                                p="Autor: " +  e.narracao.autor
                                            br

                br
            footer.w3-container.w3-blue(style="text-align: center;")
                address Powered by Desenvolvimento de Aplicações Web