extends layoutBase

block content1
    .w3-container
        .w3-card-4.w3-round-large
            header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
                h3 Publicações
            if loggedIn==true
                .w3-container(style='margin-left:40px; margin-top:15px;')
                    h4 Procurar Publicação
                    .w3-container
                        table
                            tr
                                td(style='width:40%')
                                    input#hashtag.w3-input.w3-border.w3-round-large(placeholder='Hashtag')
                                td
                                    button#hashtagBTN.w3-btn.w3-round-large( style='background-color: rgb(59,100,170); color: white; margin-left:25px;') Procurar publicação 
    
                            tr
                                td(style='width:40%')
                                    input#pubData.w3-input.w3-border.w3-round-large(placeholder='Data mínima: yyyy-mm-dd')
                                td
                                    button#pubDataBTN.w3-btn.w3-round-large(style='background-color: rgb(59,100,170); color: white; margin-left:25px;') Procurar publicação
                
                #listaPublicacoes
                    each p in pubs
                        publicacao.w3-container(id=p._id)
                            .w3-card-4.w3-round-large
                                header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
                                    div(style="flex: 50%;padding: 4px;vertical-align:middle; float:left")
                                        a(href="http://localhost:3000/Perfil?idUser=" + p.utilizador._id)
                                            img.w3-round-xxlarge(style="max-width: 45px; max-height: 45px;margin-right: 15px; margin-left:-12px;" src="http://localhost:3000/api/files/foto?userId=" + p.utilizador._id + "&fotoId=" + p.utilizador.fotoPerfil.idAtual)
                                    div(style="float:right; margin-top:18px; font-size:12px")= p.data
                                    h7(style="margin-top:18px;")
                                        p
                                            a(href="http://localhost:3000/Perfil?idUser=" + p.utilizador._id)
                                                b= p.utilizador.nome
                                            | &nbsp; partilhou uma publicação
                                .w3-container
                                    if p.tituloPub
                                        h2=p.tituloPub
                                    if p.local
                                        h4="Local: " + p.local
                                    each e in p.elems
                                                
                                        if e.tipo == "lista"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Lista
                                                    .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                        h5(style="text-align: center; margin-top:5px;")
                                                            b= e.lista.titulo
                                                        ul(style="margin-left:-15px; margin-top:-5px;")
                                                            each item in e.lista.itens
                                                                li= item
                                        if e.tipo == "ficheiros"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Ficheiros
                                                    p= e.ficheiros.titulo
                                                    ul
                                                        each item in e.ficheiros.ficheiros
                                                            li
                                                                if (item.isImage == "true")
                                                                    a(href='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)
                                                                        img(style="max-width: 160px; max-height: 160px;" src='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)
                                                                else
                                                                    a(href='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)= item.nome

                                        if e.tipo =="opiniao"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Opinião
                                                    .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                        p(style="margin-left:0px; margin-right:0px; margin-top:4px; margin-bottom:4px;")= e.opiniao.opiniao
                                        
                                        if e.tipo =="narracao"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Narração
                                                    .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                        if e.narracao.titulo
                                                            h5(style="text-align: center; margin-top:5px;")
                                                                b= e.narracao.titulo
                                                        cite= "\""+e.narracao.texto+"\""
                                                        if e.narracao.autor
                                                            p(style="margin-left:10px;")
                                                                cite= "- " +  e.narracao.autor

                                        if e.tipo =="evento"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large.w3-border(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Evento
                                                    .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                        h5(style="text-align: center; margin-top:5px;")
                                                            b= e.evento.titulo
                                                        p
                                                            b Data de início: 
                                                            | #{e.evento.data}
                                                        if e.evento.duracao
                                                            p
                                                                b Duração do evento: 
                                                                | #{e.evento.duracao}
                                                        p 
                                                            b Atividade: 
                                                            | #{e.evento.atividade}
                                                        label
                                                            b Descrição
                                                        .w3-container.w3-round-large.w3-border
                                                            p(style="margin-left:0px; margin-right:0px; margin-top:4px; margin-bottom:4px;")= e.evento.descricao
                                    if loggedIn
                                        input.pubLike.w3-btn.w3-small.w3-round-xxlarge(type='button' id=p._id+"_Gosto" value='Gosto (' + p.gostos.length + ')' name=p.gostos.length style='background-color: rgb(59,100,170); color: white; margin-left:10px; margin-top:0px;')
                                    
                                    br
                                    br
                                    .w3-card-4.w3-round-large(style='margin-top:5px;')
                                        header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
                                            h7
                                                b Comentários
                                        .w3-container
                                            if loggedIn
                                                form.formComentarios.w3-container.w3-bottombar.w3-border-grey(id=p._id+"novoComent" style='margin-bottom:15px;')
                                                    table(style='width:100%; margin-top:15px; margin-bottom:15px;')
                                                        tr
                                                            td(style='width:80%')
                                                                input#comentario.w3-input.w3-border.w3-light-grey.w3-round-xxlarge(type='text' placeholder='Escreve um comentário' required)
                                                            td
                                                                input.w3-btn.w3-round-large(type='submit' value='Publicar' style='background-color: rgb(59,100,170); color: white; margin-left:20px;')
                                            table.comentarios(id=p._id+'comentarios' style='width: 100%; line-height: 18px; word-wrap:break-word; table-layout: fixed;')
                                                
                                                if p.comentarios.length
                                                    each c in p.comentarios
                                                        tr.comentarioDiv(id=c._id)
                                                            td(valign='top' width='50px')
                                                                 a(href="http://localhost:3000/Perfil?idUser=" + c.utilizador._id)
                                                                    img.w3-round-xxlarge(style="max-width: 45px; max-height: 45px;margin-right: 20px;" src="http://localhost:3000/api/files/fotoPerfil?uid="+c.utilizador._id+"&&username="+c.utilizador.username)
                                                            td
                                                                .w3-border.w3-round-xxlarge.w3-light-grey(style='margin-top:5px; margin-bottom:5px; word-wrap: break-word')
                                                                    p(style='margin-left:15px; margin-right:15px; margin-top:7px; margin-bottom:7px;')
                                                                        a(href="http://localhost:3000/Perfil?idUser=" + c.utilizador._id)
                                                                            b(style='color: rgb(59,100,170);')= c.utilizador.nome
                                                                        | &nbsp;&nbsp;&nbsp; #{c.texto}
                                                                if loggedIn
                                                                    input.commentLike.w3-btn.w3-small.w3-round-xxlarge(type='button' id=c._id+"_Gosto" value='Gosto (' + c.gostos.length + ')' name=c.gostos.length style='line-height: 14px; margin-bottom:10px;background-color: rgb(59,100,170); color: white; margin-left:15px;')
                                                else 
                                                    .w3-container(id=p._id+"NoComments" style='margin-top:20px;')
                                                        b(style='color:dark-grey;') Não existem comentários para mostrar. Seja o primeiro a comentar esta publicação!
                                            br
                                    br
                                    br

                br

    script(src='/javascripts/listaPubs.js')
    script(src='/javascripts/axios.min.js')