extends layoutBase

block content1
    .w3-container
        .w3-card-4
            header.w3-container(style='background-color: rgb(59,100,170); color: white;')
                h1 Publicações
            
            .w3-container(style='margin-left:15px; margin-right:15px; margin-top:25px;')
                #listaPublicacoes
                    each p in pubs
                        publicacao.w3-container(id=p._id)
                            .w3-card-4
                                header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
                                    div(style="flex: 50%;padding: 4px;vertical-align:middle; float: left")
                                        img.w3-round-large(style="max-width: 45px; max-height: 45px;margin-right: 20px; margin-top:5px;" src="http://localhost:3000/api/files/foto?userId=" + p.utilizador._id + "&fotoId=" + p.utilizador.fotoPerfil.idAtual)
                                    h2=p.utilizador.nome
                                .w3-container
                                    if p.tituloPub
                                        h2=p.tituloPub
                                    h4="Publicado em " + p.data
                                    if p.local
                                        h4="Local: " + p.local
                                    h5="Público: " + p.privacidade
                                    each e in p.elems
                                        h4="TIPO: "+ e.tipo
                                        if e.tipo == "lista"
                                            h2= e.lista.titulo
                                            ul.w3-ul.w3-hoverable
                                            each item in e.lista.itens
                                                li=item
                                        if e.tipo == "ficheiros"
                                            p= e.ficheiros.titulo
                                            ul
                                                each item in e.ficheiros.ficheiros
                                                    li
                                                        if (item.isImage == "true")
                                                            a(href='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)
                                                                img(style="max-width: 400px; max-height: 400px;" src='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)
                                                        else
                                                            a(href='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)= item.nome
                                        if e.tipo =="narracao"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Narração
                                                    .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                        if e.narracao.titulo
                                                            h5(style="text-align: center; margin-top:5px;")
                                                                b= e.narracao.titulo
                                                        cite= "\""+e.narracao.texto+"\""
                                                        if e.narracao.autor
                                                            p(style="margin-left:10px;")
                                                                cite= "- " +  e.narracao.autor
                                        if e.tipo =="opiniao"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Opinião
                                                    .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                        p(style="margin-left:0px; margin-right:0px; margin-top:4px; margin-bottom:4px;")= e.opiniao.opiniao
                                        if e.tipo =="evento"
                                            .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                    .w3-container.w3-border.w3-round-large.w3-border(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                        h7 Evento
                                                    .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                        h5(style="text-align: center; margin-top:5px;")
                                                            b= e.evento.titulo
                                                        p
                                                            b Data de início: 
                                                            | #{e.evento.data}
                                                        if e.evento.duracao
                                                            p
                                                                b Duração do evento: 
                                                                | #{e.evento.duracao}
                                                        p 
                                                            b Atividade: 
                                                            | #{e.evento.atividade}
                                                        label
                                                            b Descrição
                                                        .w3-container.w3-round-large.w3-border
                                                            p(style="margin-left:0px; margin-right:0px; margin-top:4px; margin-bottom:4px;")= e.evento.descricao
                                    br
                                    br
                                    .w3-card-4(style='margin-top:5px;')
                                        header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
                                            h6
                                                b Comentários
                                        .w3-container
                                            table.comentarios(id=p._id+'comentarios' style='width: 100%; line-height: 18px; word-wrap:break-word; table-layout: fixed;')
                                                
                                                if p.comentarios.length
                                                    each c in p.comentarios
                                                        tr.comentarioDiv(id=c._id)
                                                            td(valign='top' width='50px')
                                                                img.w3-round-xxlarge(style="max-width: 45px; max-height: 45px;margin-right: 20px;" src="http://localhost:3000/api/files/foto?userId=" + c.utilizador._id + "&fotoId=" + c.utilizador.fotoPerfil.idAtual)
                                                            td
                                                                .w3-border.w3-round-xxlarge.w3-light-grey(style='margin-top:5px; margin-bottom:5px; word-wrap: break-word')
                                                                    p(style='margin-left:15px; margin-right:15px; margin-top:7px; margin-bottom:7px;')
                                                                        b(style='color: rgb(59,100,170);')= c.utilizador.nome
                                                                        | &nbsp;&nbsp;&nbsp; #{c.texto}
                                                else 
                                                    .w3-container(id=p._id+"NoComments" style='margin-top:20px;')
                                                        b(style='color:dark-grey;') Não existem comentários para mostrar. Faça Login para poder comentar!!
                                            br
                                    br
                                    br

                br

    script(src='/javascripts/listaPubs.js')