extends layout

block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-blue
                h1 Publicações
            .w3-container
                h3 Procurar por id
                .w3-container
                    table
                        tr
                            td(style='width:20%')
                                input#fileID.w3-input.w3-border(placeholder='ID da publicação')
                            td
                                button#fid.w3-button.w3-blue( style='margin-left:25px;') Procurar publicação 
 
                        tr
                            td(style='width:20%')
                                input#fileData.w3-input.w3-border(placeholder='Data mínima: yyyy-mm-dd')
                            td
                                button#fdata.w3-button.w3-blue( style='margin-left:25px;') Procurar publicação 

                br
                table.w3-table-all.w3-centered.w3-hoverable
                    tr.w3-light-blue
                        th(width="25%") Data
                        th(width="15%") Hashtags
                        th(width="10%") Local
                        th(width="10%") Publico
                        th(width="15%") Titulo
                        th(width="25%") Elems

                    each p in pubs
                        if p
                            tr
                                td= p.data
                                td= p.hashtags
                                if p.local
                                    td= p.local
                                else
                                    td ---
                                
                                td= p.publico

                                
                                if p.tituloPub
                                    td= p.tituloPub
                                else
                                    td ---
                                td
                                    each e in p.elems
                                        p=e.tipo
                                        if e.tipo == "lista"
                                            p= e.lista.titulo
                                            each item in e.lista.itens
                                                p= "item da lista :" + item
                                        if e.tipo == "ficheiros"
                                            p= e.ficheiros.titulo
                                            each item in e.ficheiros.ficheiros
                                                a(href='/uploaded/'+item)= item
                                                br

                br
                br
            footer.w3-container.w3-blue(style="text-align: center;")
                address Powered by Desenvolvimento de Aplicações Web