extends layoutBase

block content1
    .w3-card-4.w3-border-0(style='min-height:100vh;')
        .w3-bar(style="width:100%; display:flex; background-color: rgb(59,100,170); color: white; top:0px; left:0px; height:38px;border-bottom: 0px solid #cacaca;position: fixed;")
                a.w3-bar-item.w3-button(href="/") Feed de Publicações
                if(perfil.otherUser == true)
                    a.w3-bar-item.w3-button(href="/Perfil") Meu Perfil
                a.w3-bar-item.w3-button(href="/logout") Logout

        #inicioPagina
        .w3-card-4.w3-round-large(id="id" name= perfil._id style="width:100%; margin-top:30px;")
            table(width="100%" style="")
                tr
                    td(valign="top" width="30%")
                        .w3-card-4.w3-border.w3-round-large(id="AAAAAAAA" style='width: 90%; margin-left:15px; margin-right:15px; margin-top:25px;')
                            header.w3-container.w3-round-large(style='height:40px; text-align:center; background-color: rgb(59,100,170); color: white;')
                                h5(style="margin-top:4px") Perfil de 
                                    =perfil.nome
                            br
                            img.w3-round-large.w3-border(style="display: block; margin: 0 auto; max-width: 50%; max-height: 50%;" src="http://localhost:3000/api/files/foto?userId=" + perfil._id + "&fotoId=" + perfil.fotoPerfil.idAtual)
                            if(perfil.otherUser == false)    
                                input.w3-btn.w3-container.w3-round-large(type="button" id='fotosPerfil' value='Ver Fotos Perfil' style='display: block; margin: 0 auto; background-color: rgb(59,100,170); color: white; margin-top:5px;')
                            .w3-light-grey.w3-border.w3-round-large(style="margin-top:15px; margin-left:15px; margin-right:15px;")
                                h5(style="text-align: center;")= perfil.nome
                                p(style="margin-top:-5px; text-align: center;") 
                                    b Username: 
                                    | #{perfil.username}
                                p(style="margin-top:-5px; text-align: center;") 
                                    b ID: 
                                    | #{perfil._id} 
                            div(id="seguir7ignorar" style='width:100%; margin-top:15px; margin-bottom:10px;')
                                if(perfil.otherUser == true)
                                    if(perfil.segue == true)
                                        table(width="100%")
                                            tr
                                                td(width="50%")
                                                    a(id="ignorar" style="visibility: visible;")
                                                        img(id="ignorarImg" style="visibility: visible; cursor:pointer;width: 40px; height: 35px; display: block; margin: 0 auto; margin-right:13%" src="http://localhost:3000/api/files/check")
                                                td(width="50%")
                                                    a(id="seguir" style="width:50%; visibility: hidden;")
                                                        img(id="seguirImg" style="visibility: hidden; cursor:pointer;width: 30px; height: 30px; display: block; margin: 0 auto; margin-left:15%" src="http://localhost:3000/api/files/plus")
                                    else
                                        table(width="100%")
                                            tr
                                                td(width="50%")
                                                    a(id="ignorar" style="visibility: hidden;")
                                                        img(id="ignorarImg" style="visibility: hidden; cursor:pointer;width: 40px; height: 35px; display: block; margin: 0 auto; margin-right:13%" src="http://localhost:3000/api/files/check")
                                                td(width="50%")
                                                    a(id="seguir" style="visibility: visible;")
                                                        img(id="seguirImg" style="cursor:pointer;width: 30px; height: 30px; display: block; margin: 0 auto; margin-left:15%" src="http://localhost:3000/api/files/plus")
                            input.w3-btn.w3-round-large(type="button" id="pubsBTN" value="Ver Publicações" style='display: block; margin: 0 auto; padding: 8px 15px; background-color: rgb(59,100,170); color: white; margin-top:15px;') 
                            input.w3-btn.w3-round-large(type="button" id="aSeguirBTN" value='A Seguir (' + perfil.naSeguir + ')' name=perfil.naSeguir style='display: block; margin: 0 auto; padding: 8px 29px; background-color: rgb(59,100,170); color: white; margin-top:5px;')
                            input.w3-btn.w3-round-large(type="button" id="seguidoresBTN" value='Seguidores (' + perfil.nseguidores + ')' name=perfil.nseguidores style='display: block; margin: 0 auto; padding: 8px 20px; background-color: rgb(59,100,170); color: white; margin-top:5px;')
                            
                            h5(style="margin-top: 5%; text-align: center;") Publicações Feitas: 
                                =perfil.npubs
                            if(perfil.otherUser == true)
                                p(style="text-align: center;") Publicações Invisiveis: 
                                    =perfil.npubsInvisiveis
                            br
                    td(valign="top" width="70%")
                        #aSeguir.w3-container(style='display:none; margin-left:15px; margin-right:15px; margin-top:25px;')
                        #seguidores.w3-container(style='display:none; margin-left:15px; margin-right:15px; margin-top:25px;')
                        #listaPublicacoes.w3-container(style='margin-left:15px; margin-right:15px; margin-top:25px;')
                            each p in perfil.pubs
                                publicacao.w3-container(id=p._id)
                                    .w3-card-4.w3-round-large
                                        header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
                                            div(style="flex: 50%;padding: 4px;vertical-align:middle; float:left")
                                                a(href="http://localhost:3000/Perfil?idUser=" + p.utilizador._id)
                                                    img.w3-round-xxlarge(style="max-width: 45px; max-height: 45px;margin-right: 15px; margin-left:-12px;" src="http://localhost:3000/api/files/foto?userId=" + p.utilizador._id + "&fotoId=" + p.utilizador.fotoPerfil.idAtual)
                                            div(style="float:right; margin-top:18px; font-size:12px")= p.data
                                            h7(style="margin-top:18px;")
                                                p
                                                    a(href="http://localhost:3000/Perfil?idUser=" + p.utilizador._id)
                                                        b= p.utilizador.nome
                                                    | &nbsp; partilhou uma publicação
                                        .w3-container
                                            if p.tituloPub
                                                h2=p.tituloPub
                                            if p.local
                                                h4="Local: " + p.local
                                            each e in p.elems
                                                        
                                                if e.tipo == "lista"
                                                    .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                        .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                            .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                                h7 Lista
                                                            .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                                h5(style="text-align: center; margin-top:5px;")
                                                                    b= e.lista.titulo
                                                                ul(style="margin-left:-15px; margin-top:-5px;")
                                                                    each item in e.lista.itens
                                                                        li= item
                                                if e.tipo == "ficheiros"
                                                    .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                        .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                            .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                                h7 Ficheiros
                                                            p= e.ficheiros.titulo
                                                            ul
                                                                each item in e.ficheiros.ficheiros
                                                                    li
                                                                        if (item.isImage == true)
                                                                            a(href='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)
                                                                                img(style="max-width: 160px; max-height: 160px;" src='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)
                                                                        else
                                                                            a(href='/api/files?username=' + p.utilizador.username + '&idPub=' + p._id + '&idFich=' + item._id + '&data=' + p.data)= item.nome

                                                if e.tipo =="opiniao"
                                                    .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                        .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                            .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                                h7 Opinião
                                                            .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                                p(style="margin-left:0px; margin-right:0px; margin-top:4px; margin-bottom:4px;")= e.opiniao.opiniao
                                                
                                                if e.tipo =="narracao"
                                                    .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                        .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                            .w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                                h7 Narração
                                                            .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                                if e.narracao.titulo
                                                                    h5(style="text-align: center; margin-top:5px;")
                                                                        b= e.narracao.titulo
                                                                cite= "\""+e.narracao.texto+"\""
                                                                if e.narracao.autor
                                                                    p(style="margin-left:10px;")
                                                                        cite= "- " +  e.narracao.autor

                                                if e.tipo =="evento"
                                                    .w3-container.w3-border.w3-round-large(style="width:100%; float: left; margin-top:10px; margin-bottom:15px; background-color:rgb(245,245,245);")
                                                        .w3-container(style="margin-left:-15px; margin-right:-15px;")
                                                            .w3-container.w3-border.w3-round-large.w3-border(style='text-align:center; background-color: rgb(150,150,150); color: white;')
                                                                h7 Evento
                                                            .w3-container.w3-white.w3-round-large.w3-border(style='margin-top:15px; margin-bottom:15px; word-wrap: break-word')
                                                                h5(style="text-align: center; margin-top:5px;")
                                                                    b= e.evento.titulo
                                                                p
                                                                    b Data de início: 
                                                                    | #{e.evento.data}
                                                                if e.evento.duracao
                                                                    p
                                                                        b Duração do evento: 
                                                                        | #{e.evento.duracao}
                                                                p 
                                                                    b Atividade: 
                                                                    | #{e.evento.atividade}
                                                                label
                                                                    b Descrição
                                                                .w3-container.w3-round-large.w3-border
                                                                    p(style="margin-left:0px; margin-right:0px; margin-top:4px; margin-bottom:4px;")= e.evento.descricao
                                            input.pubLike.w3-btn.w3-small.w3-round-xxlarge(type='button' id=p._id+"_Gosto" value='Gosto (' + p.gostos.length + ')' name=p.gostos.length style='background-color: rgb(59,100,170); color: white; margin-left:10px; margin-top:0px;')
                                            if(perfil.otherUser == false)                                           
                                                checkbox.w3-container(valign="right" style="float:right;")
                                                    table
                                                        tr
                                                            td
                                                                br
                                                                input.w3-btn.w3-small.w3-round-xxlarge(type='button' id="alterarPriv" value="Alterar Privacidade" style='background-color: rgb(59,100,170); color: white; margin-left:10px; margin-right:25px; margin-top:0px;')
                                                            td
                                                                label(id="privacidade"+p._id) Privacidade Atual:  
                                                                    =p.privacidade
                                                                    br
                                                                if(p.privacidade != "publica")
                                                                    label(id="labelPublica"+p._id) Público
                                                                        input.publicacb(id="publicacb"+p._id type='checkbox' name='agreement' style='margin-left: 22px;display: ' unchecked)
                                                                    br
                                                                else
                                                                    label(id="labelPublica"+p._id style="display: none") Público 
                                                                        input.publicacb(id="publicacb"+p._id type='checkbox' name='agreement' style='margin-left: 22px;display: none' unchecked)
                                                                    
                                                                if(p.privacidade != "seguidores")
                                                                    label(id="labelSeguidores"+p._id) Seguidores
                                                                        input.seguidorescb(id="seguidorescb"+p._id type='checkbox' name='agreement' style='margin-left: 20px;display: ' unchecked)
                                                                    br
                                                                else
                                                                    label(id="labelSeguidores"+p._id style="display: none") Seguidores 
                                                                        input.seguidorescb(id="seguidorescb"+p._id type='checkbox' name='agreement' style='margin-left: 20px;display: none' unchecked)
                                                                    
                                                                if(p.privacidade != "privada")
                                                                    label(id="labelPrivada"+p._id) Apenas Eu
                                                                        input.privadacb(id="privadacb"+p._id type='checkbox' name='agreement' style='margin-left: 20px;display: ' unchecked)
                                                                else
                                                                    label(id="labelPrivada"+p._id style="display: none") Apenas Eu
                                                                        input.privadacb(id="privadacb"+p._id type='checkbox' name='agreement' style='margin-left: 20px;display: none' unchecked)
                                            br
                                            br
                                            br
                                            br
                                            .w3-card-4.w3-round-large(style='margin-top:5px;')
                                                header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
                                                    h7
                                                        b Comentários
                                                .w3-container
                                                    form.formComentarios.w3-container.w3-bottombar.w3-border-grey(id=p._id+"novoComent" style='margin-bottom:15px;')
                                                        table(style='width:100%; margin-top:15px; margin-bottom:15px;')
                                                            tr
                                                                td(style='width:80%')
                                                                    input#comentario.w3-input.w3-border.w3-light-grey.w3-round-xxlarge(type='text' placeholder='Escreve um comentário' required)
                                                                td
                                                                    input.w3-btn.w3-round-large(type='submit' value='Publicar' style='background-color: rgb(59,100,170); color: white; margin-left:20px;')
                                                    table.comentarios(id=p._id+'comentarios' style='width: 100%; line-height: 18px; word-wrap:break-word; table-layout: fixed;')
                                                        
                                                        if p.comentarios.length
                                                            each c in p.comentarios
                                                                tr.comentarioDiv(id=c._id)
                                                                    td(valign='top' width='50px')
                                                                        a(href="http://localhost:3000/Perfil?idUser=" + c.utilizador._id)
                                                                            img.w3-round-xxlarge(style="max-width: 45px; max-height: 45px;margin-right: 20px;" src="http://localhost:3000/api/files/fotoPerfil?uid="+c.utilizador._id+"&&username="+c.utilizador.username)
                                                                    td
                                                                        .w3-border.w3-round-xxlarge.w3-light-grey(style='margin-top:5px; margin-bottom:5px; word-wrap: break-word')
                                                                            p(style='margin-left:15px; margin-right:15px; margin-top:7px; margin-bottom:7px;')
                                                                                a(href="http://localhost:3000/Perfil?idUser=" + c.utilizador._id)
                                                                                    b(style='color: rgb(59,100,170);')= c.utilizador.nome
                                                                                | &nbsp;&nbsp;&nbsp; #{c.texto}
                                                                        input.commentLike.w3-btn.w3-small.w3-round-xxlarge(type='button' id=c._id+"_Gosto" value='Gosto (' + c.gostos.length + ')' name=c.gostos.length style='line-height: 14px; margin-bottom:10px;background-color: rgb(59,100,170); color: white; margin-left:15px;')
                                                        else 
                                                            .w3-container(id=p._id+"NoComments" style='margin-top:20px;')
                                                                b(style='color:dark-grey;') Não existem comentários para mostrar. Seja o primeiro a comentar esta publicação!
                                                    br
                                            br
                                            br
        footer.w3-container(style="background-color: rgb(59,100,170); color: white; text-align: center; position: fixed; bottom: 0; width: 100%;")
            address Powered by Desenvolvimento de Aplicações Web
    
    script(src="/javascripts/perfil.js")
    script(src="/javascripts/axios.min.js")