extends layout

block content
    h1 Publicação
    h2= "Data : " + p.data
    h2= "Privacidade: " + p.privacidade
    each elem in p.elems
        h3= elem.hashtags
        h2= "Titulo: " + elem.lista.titulo
        each item in elem.lista.itens
            p=item
    .w3-container